// Import Bootstrap's SCSS variables and functions
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// Override Bootstrap variables here
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  'grey': #bfc1c1
);

$white: #fefeff;
$black: #000000;
$grey: #bfc1c1;

$headings-margin-bottom: $spacer * 0;
$paragraph-margin-bottom: $spacer * 0;

// Import the rest of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

*, body {
  background-color: #38373a;
}

i {
  color: $white;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $white;
}

h1, h2, h3, h4, h5, h6, p, hr {
  color: $white;
}

.btn-grey {
  border-radius: 0;
  color: $white;
  font-weight: bold;
}

.btn-skills {
  color: $white;
  background-color: $grey;
  font-weight: bold;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.btn-skills:hover {
  border: 10px solid black;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

//  NAVBAR
nav .navbar-brand,
nav .navbar-brand:hover,
nav .navbar-brand:focus,
nav .navbar-brand:active {
  color: $white;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: $white;
}

.nav-small .nav-item:hover,
.navbar-nav .nav-link:hover {
  background-color: $white;
  color: $black;
}

nav .navbar-toggler,
nav .navbar-toggler:focus,
nav .navbar-toggler-icon {
  box-shadow: none;
  background-color: $white;
}

//  ABOUT ME
.profile-pic {
  width: 40%;
}

.owl-carousel {
  width: 80% !important;
}

.project-container {
  position: relative;
  display: inline-block;
}

.project-pics {
  height: auto;
  display: block;
  transition: opacity 0.3s ease;
}

.project-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  text-align: center;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.project-container:hover .project-description {
  transform: translateY(0);
  opacity: 1;
}

.project-container:hover .project-pics {
  opacity: 0.6;
}
