// Import Bootstrap's SCSS variables and functions
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// Override Bootstrap variables here
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  'grey': #8891a4
);

$white: #fefeff;
$black: #000000;
$grey: #8891a4;

$headings-margin-bottom: $spacer * 0;
$paragraph-margin-bottom: $spacer * 0;

// Import the rest of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: #38373a;
}

i {
  color: $white;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $white;
}

h1, h2, h3, h4, h5, h6, p, hr {
  color: $white;
}

ul, li {
  color: $white;
}

.btn-grey {
  border-radius: 0;
  color: $white;
  font-weight: bold;
}

//  NAVBAR
nav .navbar-brand,
nav .navbar-brand:hover,
nav .navbar-brand:focus,
nav .navbar-brand:active {
  color: $white;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: $white;
}

.nav-small .nav-item:hover,
.navbar-nav .nav-link:hover {
  background-color: $white;
  color: $black;
}

.nav-small .nav-link:hover .github,
.nav-small .nav-link:hover .fa-github,
.nav-small .nav-link:hover .linkedin,
.nav-small .nav-link:hover .fa-linkedin{
  color: $black;
}

nav .navbar-toggler,
nav .navbar-toggler:focus,
nav .navbar-toggler-icon {
  box-shadow: none;
  background-color: $white;
}

//  START
.profile-pic {
  width: 40%;
}

@media only screen and (max-width: 767px) {
  .profile-pic {
    width: 100%;
  }
}

//  SKILLS
.btn-skills {
  color: $white;
  background-color: $grey;
  font-weight: bold;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.btn-skills:hover {
  border: 10px solid #99a0a8;
}

@media only screen and (max-width: 339px) {
  .btn-skills {
    width: 130px;
    height: 130px;
  }

  .btn-skills:hover {
    border: 5px solid #99a0a8;
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

//  PROJECTS
.owl-carousel {
  width: 80% !important;
}

@media only screen and (max-width: 767px) {
  .owl-carousel {
    width: 100% !important;
  }
}

.project-container {
  position: relative;
  display: inline-block;
}

.project-pics {
  height: auto;
  display: block;
  transition: opacity 0.3s ease;
}

.project-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  text-align: center;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.project-container:hover .project-description {
  transform: translateY(0);
  opacity: 1;
}

.project-container:hover .project-pics {
  opacity: 0.6;
}

//  CERTS
.cert-pics {
  max-height: 700px;
  object-fit: contain;
}

//  FOOTER
.footer {
  background-color: #817e7e;
}

.fa-phone,
.fa-envelope,
.fa-location-dot {
  cursor: default;
}

//  PROJECTS PAGE
#lockbox, #earthecho, #pawithluv {
  h6, p, li {
    margin-bottom: 10px;
  }
}